.container {
	width: 550px;
	margin: 100px auto;
	background-color: tan;
	border: 1px solid #000;

	display: flex;
	flex-wrap: wrap;
	/* 两端对齐 */
	justify-content: space-between;
}

.container .item {
	box-sizing: border-box;
	width: 100px;
	height: 150px;
	/* background-color: red; */
	border: 1px solid #000;
}

.container i {
	/* 只设置宽度，不用设置高度 */
	width: 100px;
}
